@page "/expenses/new"
@using ExpanseTracker.Data
@using ExpanseTracker.Data.Models
@using ExpanseTracker.Services;
@inject ExpenseService EService;
@inject CategoryService CService;
@inject NavigationManager NavMag;

<h3>AddExpense</h3>

<!--
<table>
    <tr>
        <td>Title</td>
        <td><input type="text" placeholder="title" @bind="NTitle"></td>
    </tr>
    <tr>
        <td>Date</td>
        <td><input type="date" placeholder="dd-mm-yyyy" @bind="NDate"></td>
    </tr>
    <tr>
        <td>Amount</td>
        <td><input type="number" placeholder="0" @bind="NAmount"></td>
    </tr>
    <tr>
        <td>Planned</td>
        <td><input type="checkbox" placeholder="" @bind="NPlanned"></td>
    </tr>
    <tr>
        <td align="justify">Category</td>
        <td>
            <table>
                @foreach(var cat in Cats)
                {
                    <tr><td><input type="radio" name="1" @onchange="() => setCat(cat.Id)">@cat.Name</td></tr>
                }
            </table>
        </td>
    </tr>
</table>
-->
<form @onsubmit="AdExpense">
    <ExpenseForm Exp="Exp"></ExpenseForm>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
@code {
    public List<Category> Cats=new List<Category>();
    public List<Expense> Exps=new List<Expense>();
    public int New_id = 1;
    private Expense Exp = new Expense();

    public void setCat(int id)
    {
        Exp.Id = id;
    }
    private int get_new_id()
    {
        return New_id++;
    }
    public void AdExpense()
    {
        EService.addExpense(Exp);
        NavMag.NavigateTo("/expenses");
    }
    private void loadDefault()
    {
        Cats = CService.getCategories();
        Exps = EService.getExpenses();
        var query = EService._context.Expenses.Max(c => c.Id);
        New_id = query + 1;
    }
    protected override async Task OnInitializedAsync() //process to run when page is loaded
    {
        loadDefault();
    }
}
