@page "/todo"
@using ExpanseTracker.Data
@using System.IO
<PageTitle>Todo List</PageTitle>
<h2>Todo List</h2>
<h10>Tasks left: (@Todos.Count(todo => !todo.IsDone))</h10>

<ul>
    @foreach (var todo in Todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            @todo.Title
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="New_title" />

<button @onclick="addNewTodo">Add todo</button>

@code {
    private List<TodoItem> Todos = new();
    private string? New_title;
    public void addNewTodo()
    {
        if (!string.IsNullOrWhiteSpace(New_title))
        {
            Todos.Add(new TodoItem { Title = New_title });
            New_title = string.Empty;
        }
    }
}
